[submodule "libmesh"]
    path = libmesh
    url = ../libmesh-vnv
    ignore = dirty
[submodule "large_media"]
    path = large_media
    url = https://github.com/idaholab/large_media
[submodule "petsc"]
    path = petsc
    url = ../petsc-vnv
[submodule "suitesparse-vnv"]
    path = suitesparse-vnv
    url = ../suitesparse-vnv.git
    branch = master
[submodule "hypre-vnv"]
    path = hypre-vnv
    url =  ../hypre-vnv.git
    branch = master
[submodule "moosetools"]
    path = moosetools
    url = https://github.com/idaholab/moosetools
