[submodule "libmesh"]
    path = libmesh
    url = ../libmesh-vnv
    ignore = dirty
[submodule "large_media"]
    path = large_media
    url = https://github.com/idaholab/large_media
[submodule "petsc"]
    path = petsc
    url = ../petsc-vnv
[submodule "suitesparse-vnv"]
	path = suitesparse-vnv
	url = https://gitlab.rnet-tech.net/vnv/suitesparse-vnv.git
	branch = master
[submodule "hypre-vnv"]
	path = hypre-vnv
	url = https://gitlab.rnet-tech.net/vnv/hypre-vnv.git
	branch = master
